<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <style>
         .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

        </style>
    </head>
    <body>
        <nav class="  navbar navbar-expand-md bg-primary navbar-dark  fixed-top ">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon" ></span>
            </button>
        
        <div class="collapse navbar-collapse" id="navbar">
            <ul class=" for navbar-nav  " style="margin-right:10px ; padding-right: 40px; ;">
               <li class="nav-item" >
                   <a href="home" class="nav-link" ><b>Home</b></a>
               </li>
               
            <li class="nav-item">
                <a href="signup" class="nav-link" target="_blank"><b>Sign Up</b></a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" target="_blank"><b>About Us</b></a>
            </li>
            
           

            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"></a>
                <div class="dropdown-menu" style="background-color:grey ;">
                    <a href="{% url 'logout' %}"  class="btn btn-info">LOGOUT</a>
                 

                    
                </div>
            </li>
            </ul>
        </div>
        </nav><br>

       

        <h1 class="container" style="text-align: center; text-decoration: underline;margin-top: 50px;">SIGNUP</h1><br>

        <div class="container">
          {% for message in messages %}
          <h4 class="alert alert-danger" style="text-align: center;">
              {{ message }}
      
          </h4>
          {% endfor %}
      </div>
      

        <div class="container ">
            {% for message in messages %}
        <h4>
            <div class="alert alert-danger " style="text-align: center;">
            {{ message }}
        </div>
        </h4>

            {% endfor %}
        </div>

        <section class="vh-100">
            <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                  <form  method="post" action="{% url 'userceate' %}">

                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
          
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
          
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-linkedin-in"></i>
                      </button>
                    </div>
          
                    <div class="divider d-flex align-items-center my-4">
                      <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>
          
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="text" name="first_name" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter the firstname..." />
                      <label class="form-label" for="form3Example3"></label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" name="last_name" id="form3Example90" class="form-control form-control-lg"
                          placeholder="Enter the last name..." />
                        <label class="form-label" for="form3Example90"></label>
                      </div>


                      <div class="form-outline mb-4">
                        <input type="text" name="username" id="form3Example30" class="form-control form-control-lg"
                          placeholder="Enter athe username..." />
                        <label class="form-label" for="form3Example30"></label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="text" name="email" id="form3Example20" class="form-control form-control-lg"
                          placeholder="Enter a valid email address..." />
                        <label class="form-label" for="form3Example20"></label>
                      </div>

                     

                      <div class="form-outline mb-3">
                        <input type="password" name="password" id="form3Example41" class="form-control form-control-lg"
                          placeholder="Enter  password..." />
                        <label class="form-label" for="form3Example41"></label>
                      </div>
          
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                      <input type="password" name="cpassword" id="form3Example91" class="form-control form-control-lg"
                        placeholder="Enter conform password..." />
                      <label class="form-label" for="form3Example91"></label>
                    </div>
          
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <a href="#!" class="text-body">Forgot password?</a>
                    </div>
          
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">SIGNUP</button>
                      <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="uslogin"
                          class="link-danger">LogIn</a></p>
                    </div>
          
                  </form><br><br>
                </div>
              </div>
            </div>
            <div
              class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
              <!-- Copyright -->
             
              <!-- Copyright -->
          
              <!-- Right -->
              <div>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
              <!-- Right -->
            </div>
          </section>
    </body>
</html>